[submodule "synergos_logger"]
	path = synergos_logger
	url = ../synergos_logger.git
[submodule "synergos_manager"]
	path = synergos_manager
	url = ../synergos_manager.git
[submodule "synergos_archive"]
	path = synergos_archive
	url = ../synergos_archive.git
[submodule "synergos_algorithm"]
	path = synergos_algorithm
	url = ../synergos_algorithm.git
[submodule "synergos_rest"]
	path = synergos_rest
	url = ../synergos_rest.git
